body {
   width: 99vw;
    height: 99vh;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: roboto;
}



#top-container{
    display: flex; 
    width: 99vw;
    margin: 0 auto;

}
.green-background {
    background-color: green;
    width: 20vw;
    height: 60px;
}

.yellow-background {
    background-color: yellow;
    width: 80vw;
    height: 60px;
}

.pink-background {
    background-color: fuchsia;
    height: 40vh;
}

#middle-container{
    display: flex;
    width: 99vw;
    justify-content:space-between;
}

#content2{
    
}

.blue-background {
    background-color: blue;
    width: 700px;
    height: 200px;
}

#blank{ 
    width: 150px;
    
}

#vertical-middle-container{
   
    
}
.red-background {
    background-color: red;
    height: 100px;
    width: 400px;
}

.lightgreen-background {
    height: 100px;
    background-color: lightgreen;
    width: 400px;
}

.purple-background {
    width: 99vw;
    height: 20vh;
    background-color: purple;
}