*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    font-family: 'Segoe UI', 'open sans';
    font-size:1rem;
    scroll-behavior: smooth;
    color: #1f1f24;
}


.container{
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns:repeat (auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    /*grid-column-gap:0.2em;*/
    align-items: center;
    grid-template-areas: "h h h"
                        "m m m"
                        "t t t" 
                        "c1 c2 c3"
                        "t2 t2 t2"
                        "d1 d2 d3"
                        "t3 t3 t3"
                        "f f f";

   
    
}


/* Começo da Breakpoint*/

@media all and (max-width:900px) and (min-width:320px){
    .container{
        display: grid;
        grid-template-columns: 99.99vw;
        grid-auto-rows: auto;
        grid-template-areas: "h"
                             "m"
                             "t"
                             "c1"
                             "c2"
                             "c3"
                             "t2"
                             "d1"
                             "d2"
                             "d3"
                             "t3"
                             "f";
    }

    html,body{
        font-size: 80%;
    }

    ul{
       font-size:1.2rem;
       
    }


    main{
        display: flex;
        flex-direction: column;
        
    }

    main h1{
        width: 80vw;
        
    }

    main a button{
        margin:-1.8em 0 0  2em;
        padding: 1em 2em;
        
        font-size:1.5rem;
    }

    #background-main{
        justify-content: center;
        width: 90%;
        margin: 2rem 0 4rem 0;
       
    }

    #container-1{
        font-size: 1.1rem;
    }

    #container-2{
        font-size: 1.1rem;
    }

    #container-3{
        font-size: 1.1rem;
    }

    #texto2>p{
        font-size: 1.1rem;
        
    }

    #texto3{
        display: flex;
        flex-direction: column;
        width: 99vw;
        
    }

    #texto3 div{
        width: 80vw;
    }

    #texto3>div>p{
        font-size: 1.1rem;
    }

    #texto3 div h2{
        width: 80vw;

    }
    #texto3 div p{
        width: 70vw;
        margin: 4rem 0 2rem 0;
    }

    #texto3 form{
        width: 22rem;
        margin: 0 2rem 2rem 2rem;
    }

    footer{
        font-size: 1.1rem;
    }
    
    footer a img{
        width: 1.275rem;
        padding: 0.251rem;
    }

}



/* Fim - Breakpoint */



/* ~ Menu ~  */
nav{
    grid-column: 1/4;
    background-color: #1f1f24;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: h;
    height: 12vh;
}
@media (max-width:800px) {
    nav{
        display: flex;
        flex-direction: row;
        height: 12vh;
    }

}
#logo{
    width: 100px;
}


ul{
    display: flex;
    list-style-type: none;
   
}

li{
    padding: 1em;
}

nav a{
    text-decoration: none;
    color:#D1C2B0;
    
    
}

nav a:active{
    color:white;
}




/*Conteúdo do meio*/

main{
    grid-column: 1/4;
   
    display: flex;
    padding: 0.125rem;

    grid-area: m;
    margin: 0 0 4rem 0;
}



main p{
    margin: 6em 0 0 2.3em;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}


main h1{
    margin: 0 0 2em 1em;
    font-size:3rem;
    letter-spacing: -1pt;
    font-weight: 500;

    
}



main button{
    margin: 0 0 0 2.9em;
    padding: 1em 2em;
    
    color:rgb(255, 255, 255);
    font-size: 1rem;
    
    
    font-weight: 600;

    border: none;
    border-radius: 0;

    box-shadow:0 0.25rem 0.25rem #999;
    background-color:#10032e;
    


}

main button:hover{
    background-color: black;
    color: white;
}


main img{
    margin: 4em 0 0 0;
}




/*2º SESSÃO: SERVIÇOS*/

#texto{
    grid-column: 1/4;
    padding: 50px;

    background-color:  #1F1F23;
    color:#fafafa;
    grid-area: t;
}

#texto p{
    padding: 3%;
}


#texto h1{
    margin: 3em 0 0 0;

    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-align: center;
}

@media (max-width:800px){
    
   #texto h1{
    margin: 1rem 0 0 0;

   }
}
/*imagens*/

#container-1{
    background-color:  #1F1F23;
    color: #fafafa;
    grid-area: c1;

    padding: 2.5rem;
    text-align: center;
}

#container-1 h1{
    margin: 1em 0 1em 0;
    
}


#container-1 p{
    margin: 0 0 2em 0;
}


#container-1:hover{
    position: relative;
    margin:-1.875rem 0 0 0;
    transition: all .2s ease-in-out
    
}



#container-2{
    background-color:  #1F1F23;
    color: #fafafa;

    padding:  2.5rem;
    text-align: center;

    grid-area: c2;
}

#container-2 h1{
    margin: 1em 0 1em 0;
}


#container-2 p{
    margin: 0 0 2em 0;
}

#container-2:hover{
    position: relative;
    margin:-1.875rem 0 0 0;
    transition: all .2s ease-in-out
}





#container-3{
    background-color:  #1F1F23;
    color: #fafafa;

    padding: 2.5rem;
    text-align: center;

    grid-area: c3;
}

#container-3 h1{
    margin: 1em 0 1em 0;
}


#container-3 p{
    margin: 0 0 2em 0;
}

#container-3:hover{
    position: relative;
    margin:-1.875rem 0 0 0;
    transition: all .2s ease-in-out
}



/*SESSÃO 3: QUEM SOMOS*/

#texto2{
    grid-column: 1/4;
    padding: 3.125rem;
    grid-area: t2;
}


#texto2 h1{

    margin: 3em 0 3em 0;

    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-align: left;
}


#texto2 p{
    width: 60vw;
    

}

/* Imagens ~*/

#texto2-img1{
    margin: 0 0 3em 0;
    padding: 1.875rem;

    
    text-align: center;
    
    grid-area: d1;
}

#texto2-img1:hover{
    position: relative;
    margin:-1.25rem 0 0 0;
    transition: all .2s ease-in-out
}



#texto2-img2{
    margin: 0 0 3em 0;
    padding: 1.875rem;
    
    text-align: center;
    grid-area: d2;
    
}

#texto2-img2:hover{
    position: relative;
    margin:-1.25rem 0 0 0;
    transition: all .2s ease-in-out
}



#texto2-img3{
    margin: 0 0 3em 0;
    padding: 1.875rem;
    
    text-align: center;
    grid-area: d3;
   
}

#texto2-img3:hover{
    position: relative;
    margin:-1.25rem 0 0 0;
    transition: all .2s ease-in-out
}


#imagem-2, #imagem-3, #imagem-4{
    width: 320px;
}



/*última sessão*/

#texto3{
    grid-column: 1/4;
    display: flex;
    grid-area: t3;
}


#texto3 div{
    width: 55vw;
    padding: 4%;

}


#texto3 h2{

    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-align: left;
}


#texto3 p{
    width: 40vw;
    margin: 4em 0 0 0;

}

/*Formulário*/

form{
    display: flex;
    flex-direction: column;
    margin: 2em 0 2em 0;
    width: 31.25rem;
    padding: 1.5em 0 3em 2em;
    background-color: rgb(245, 245, 245);
    box-shadow:0 0.25rem 0.25rem #999;
    font-size: 1.2rem;
}

input{
    width: 31vw;
    height: 6vh;
    border-bottom: 1px solid rgb(27, 27, 27);
    border-top:none;
    border-left:none;
    border-right: none;
    background-color: rgba(153, 153, 153, 0);
}

input:focus{
    background-color: rgb(255, 255, 255);
    color: black;
}

label{
    margin: 2em 0 2em 0;
    font-weight: 500;
}

 #submit{
     margin: 2em 0 0 0;
    width: 10vw;
    height: 6vh;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    box-shadow:0 0.25rem 0.25rem #999;
    background-color: rgb(207, 207, 207);
    
}

#submit:active{
    background-color: rgb(36, 36, 36);
    color: cornsilk;
}



/*Rodapé*/

footer{
    grid-column: 1/4;
    background-color: #1F1F23;
    color: #D1C2B0;
    padding: 2.5rem;
    text-align: center;
    grid-area: f;
}

footer a{
    text-decoration: none;
    padding: 0.625rem;
}

footer a img{
    margin: 1em 0 1em 0;
    width: 1.875rem;
}