/*Nível 1*/

#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column-start:3;
  }


/*Nível 2*/
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #poison {
  grid-column-start:5;
  }

/*Nível 3*/
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 1;
  grid-column-end: 4;
  }

/*Nível 4*/
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 5;
  grid-column-end: 2;
  }

/*Nível 5*/

#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 1;
  grid-column-end: 5;
  }

/*Nível 6*/

#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #poison {
  grid-column-start:4;
  }

/*Nível 7*/

#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 2;
  grid-column-end: span 2;
  }

/*Nível 8*/

#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 1;
  grid-column-end:span 5;
  }

/*Nível 9*/
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column-start: span 3;
    grid-column-end: 6;
  }


/*Nível 10*/
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column: 4/6
  }


/*Nível 11*/

#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column: 2/5;
  }

/*Nível 12*/
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-row-start:3;
  }

/*Nível 13*/
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-row:3/6;
  }

/*Nível 14*/
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #poison {
  grid-column:2;
  grid-row:5;
  }

/*Nível 15*/
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column:2/6;
  grid-row:1/6;
  }

/*Nível 16*/
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-area: 1/ 2/ 4 / 6;
  }

/*Nível 17*/
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water-1 {
    grid-area: 1 / 4 / 6 / 5;
  }
  
  #water-2 {
  grid-area: 2/ 3 / 5 / 6;
  }

/*Nível 18*/
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  .water {
    order: 0;
  }
  
  #poison {
  order:6;
  }

/*Nível 19*/
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  .water {
    order: 0;
  }
  
  .poison {
  order:-1;
  }

/*Nível 20*/
#garden {
    display: grid;
  grid-template-columns: 50% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column: 1;
    grid-row: 1;
  }

/*Nível 21*/
#garden {
    display: grid;
  grid-template-columns: repeat(8,12.5%);
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column: 1;
    grid-row: 1;
  }

/*Nível 22*/
#garden {
    display: grid;
  grid-template-columns: 100px 3em 40%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

/*Nível 23*/
#garden {
    display: grid;
  grid-template-columns: 1fr 5fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

/*Nível 24*/
#garden {
    display: grid;
  grid-template-columns:50px 1fr 1fr 1fr 50px;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-area: 1 / 1 / 6 / 2;
  }
  
  #poison {
    grid-area: 1 / 5 / 6 / 6;
}

/*Nível 25*/
#garden {
    display: grid;
  grid-template-columns:75px 3fr 2fr;
    grid-template-rows: 100%;
  }

/*Nível 26*/
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 12.5px 12.5px 12.5px 12.5px;
  }
  
  #water {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
  }

/*Nível 27*/
#garden {
    display: grid;
  grid-template:60%/ 200px;
  }
  
  #water {
    grid-column: 1;
    grid-row: 1;
  }


/*Nível 28*/

#garden {
    display: grid;
  grid-template: 1fr 50px/ 20% 80%;
}